@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    url("./bgchat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
body {
  background: url("./pages/chatbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: white; /* Track color */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(25, 147, 195); /* Handle color */
  border-radius: 10px; /* Handle border radius */
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 109, 152); /* Handle color on hover */
}

/* Scrollbar Corner */
::-webkit-scrollbar-corner {
  background-color: rgb(25, 147, 195); /* Corner color */
}

.shake {
  animation: shake cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.5s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
